<div id="clearance">

  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <%= form_for @user do |form| %>

      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h2>New Account</h2>

      <div class="form-group">
        <div class="input-group">
        		<span class="input-group-addon">
        			<i class="glyphicon glyphicon-user"></i>
        		</span>
            <%= form.text_field :email, type: 'email', class: "form-control", placeholder: "Email Address" %>
        </div>
      </div>

      <div class="form-group">
      	<div class="input-group">
      		<span class="input-group-addon">
      			<i class="glyphicon glyphicon-lock"></i>
      		</span>
      		<%= form.password_field :password, type: 'password', class: "form-control", placeholder: "Password" %>
      	</div>
      </div>


      <div class="submit-field">
        <%= form.submit :class => 'btn btn-lg btn-primary btn-block' %>
      </div>

    <% end %>
  </div>

</div>
