<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>View User</h1>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <%= image_tag("profle-icon.png") %>
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">User Name</h4>
    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
            <td><%= link_to user.email, edit_user_path(user) %></td>
            <td><%= user.created_at %></td>
            <td><%= human_boolean(user.promoter) %></td>
            <td><%= human_boolean(user.advertiser) %></td>
            <td><%= human_boolean(user.admin) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>Promoter</td>
          <td>
          <% if @user.promoter %>
           <span class="glyphicon glyphicon-thumbs-up" style="color:green;font-size:1.5em;"></span>
          <% else %>
           <span class="glyphicon glyphicon-thumbs-down" style="color:red;font-size:1.5em;"></span>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>Advertiser</td>
          <td>
          <% if @user.advertiser %>
           <span class="glyphicon glyphicon-thumbs-up" style="color:green;font-size:1.5em;"></span>
          <% else %>
           <span class="glyphicon glyphicon-thumbs-down" style="color:red;font-size:1.5em;"></span>
          <% end %>
          </td>
        </tr>
        <tr>
          <td>Admin</td>
          <td>
          <% if @user.admin %>
           <span class="glyphicon glyphicon-thumbs-up" style="color:green;font-size:1.5em;"></span>
          <% else %>
           <span class="glyphicon glyphicon-thumbs-down" style="color:red;font-size:1.5em;"></span>
          <% end %>
          </td>
        </tr>
      </table>
    </div>

</div>
